<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="theme-color" content="#272822">
    <title> Fiddle | liamnewmarch.co.uk </title>
    <link href="assets/css/styles.css" rel="stylesheet">
    <link href="bower_components/codemirror/lib/codemirror.css" rel="stylesheet">
    <link href="bower_components/codemirror/theme/monokai.css" rel="stylesheet">
    <link href="manifest.json" rel="manifest">
    <link href="assets/img/icon-192.png" rel="shortcut icon" sizes="192x192">
  </head>
  <body ng-controller="ViewController as vm">
    <!-- Start view -->
    <section class="view start" ng-if="vm.view === 'start'">
      <nav class="top-nav">
        <div class="top-nav__item top-nav__item--title"> Fiddle </div>
      </nav>
      <div class="start__items">
        <button class="start__item" ng-repeat="fiddle in vm.fiddles track by $index" ng-click="vm.showFiddle(fiddle)"> {{ fiddle.name }} </button>
        <button class="start__item start__item--add" ng-click="vm.add()"> Add </button>
      </div>
    </section>
    <!-- Fiddle view -->
    <section class="view fiddle" ng-if="vm.view === 'fiddle'">
      <nav class="top-nav">
        <button class="top-nav__item" ng-class="{'top-nav__item--active': vm.pane === 'html'}" ng-click="vm.showPane('html')"> HTML </button>
        <button class="top-nav__item" ng-class="{'top-nav__item--active': vm.pane === 'css'}" ng-click="vm.showPane('css')"> CSS </button>
        <button class="top-nav__item" ng-class="{'top-nav__item--active': vm.pane === 'javascript'}" ng-click="vm.showPane('javascript')"> JS </button>
        <button class="top-nav__item" ng-class="{'top-nav__item--active': vm.pane === 'result'}" ng-click="vm.showPane('result')"> Result </button>
        <button class="top-nav__item top-nav__item--menu" ng-click="vm.menuToggle()"> ⋮ </li>
      </nav>
      <div class="fiddle__pane" ng-if="vm.panes.includes(vm.pane)">
        <textarea class="fiddle__editor" ng-model="vm.fiddle[vm.pane]" ui-codemirror ui-codemirror-opts="vm.codemirrorOpts"></textarea>
      </div>
      <div class="fiddle__pane" ng-show="vm.pane === 'result'">
        <iframe class="fiddle__result"></iframe>
      </div>
    </section>
    <!-- Menu view -->
    <section class="view menu" ng-if="vm.view === 'menu'">
      <nav class="top-nav">
        <button class="top-nav__item top-nav__item--back" ng-click="vm.view = 'start'"> ← </button>
        <div class="top-nav__item top-nav__item--title"> Settings </div>
        <button class="top-nav__item top-nav__item--active top-nav__item--menu" ng-click="vm.menuToggle()"> ⋮ </button>
      </nav>
      <div class="menu__items">
        <div class="menu__item">
          <label class="menu__label"> Fiddle name </label>
          <input class="menu__input" ng-model="vm.fiddle.name">
        </div>
        <div class="menu__item">
          <button class="menu__button" ng-click="vm.copy()"> Copy to clipboard </button>
          <button class="menu__button menu__button--delete" ng-click="vm.delete()"> Delete </button>
        </div>
      </div>
    </section>
    <script src="bower_components/codemirror/lib/codemirror.js"></script>
    <script src="bower_components/codemirror/mode/xml/xml.js"></script>
    <script src="bower_components/codemirror/mode/css/css.js"></script>
    <script src="bower_components/codemirror/mode/javascript/javascript.js"></script>
    <script src="bower_components/codemirror/mode/htmlmixed/htmlmixed.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-ui-codemirror/ui-codemirror.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script async src="https://liamnewmarch.github.io/js/analytics.js"></script>
  </body>
</html>
