*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  background-color: #272822;
  box-sizing: border-box;
  color: #fff;
  font: 16px / 1.2 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  min-width: 20rem;
}

button,
input {
  all: unset;
}
