html {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(64, 64, 64);
    margin: 0;
    padding: 0;
    background: #fff;
}

body {
    min-width: 240px;
    width: 100%;
    height: 320px;
    margin: 0;
    padding: 0;
}

header {
    height: 50px;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: block;
    float: left;
    line-height: 50px;
    width: 25%;
    cursor: pointer;
    text-align: center;
    background: rgb(240, 240, 240);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

nav li:hover,
nav li.active {
    color: #fff;
    background: #ff8c00;
}

#view-container {
    position: relative;
    width: 100%;
    height: 270px;
}

.view {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
    background: #fff;
}

textarea {
    font: normal 14px/16px monospace;
    position: relative;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 10px;
    outline: 0;
    box-sizing: border-box;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}

textarea::before {
    content: attr(data-which);
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, .8);
    padding: 5px;
    border: 1px solid #c0c0c0;
    border-bottom-left-radius: 5px;
}
