@charset 'utf-8';

* {
  box-sizing: border-box;
}

html {
  background: #272822;
  color: #fff;
  font: 16px / normal 'Helvetica Neue', Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
}

button,
input {
  background: inherit;
  border: inherit;
  color: inherit;
  outline: inherit;
  padding: inherit;
}

.view {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
}

.top-nav {
  background: linear-gradient(to right, purple, cyan);
  display: flex;
  flex-shrink: 0;
  list-style: none;
  padding: 0 .2rem;

  &__item {
    background: rgba(71, 72, 68, .9);
    border: 0;
    border-radius: .2rem .2rem 0 0;
    flex-grow: 1;
    line-height: 3rem;
    margin: .4rem .2rem 0;
    text-align: center;
    -webkit-user-select: none;

    &--active {
      background: #272822;
    }

    &--menu {
      flex: 0 0 3rem;
      padding: 0 1rem;
    }
  }
}

.start {
  &__items {
    display: flex;
    flex-flow: row wrap;
    padding: 1rem 0 0 1rem;
  }

  &__item {
    background: #444;
    border-radius: .2rem;
    flex: 1 0 10rem;
    margin: 0 1rem 1rem 0;
    padding: 3rem 1rem;
    text-align: center;

    &--add {
      background: #333;
    }
  }
}

.fiddle {
  &__pane {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
  }

  .CodeMirror,
  &__result {
    background: #272822;
    border: 0;
    color: #fff;
    height: 100vh;
    flex-basis: 100%;
    flex-grow: 1;
    width: 100%;
  }

  .CodeMirror {
    line-height: 1.2;
    padding: 1rem;
  }
}

.menu {
  &__items {
    display: flex;
    flex-flow: column nowrap;
    margin: 1rem;
  }

  &__item {
    align-items: center;
    display: flex;
    margin: 1rem 0;
  }

  &__label {
    flex-shrink: 0;
  }

  &__input {
    background: #333;
    margin-left: 1rem;
    padding: 1rem;
    width: 100%;
  }

  &__button {
    background: #444;
    border-radius: .2rem;
    flex-grow: 1;
    padding: 1rem;

    &--delete {
      background: #a22;
      margin-left: 1rem;
    }
  }
}
