.menu__items {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.menu__item {
  align-items: center;
  display: flex;
  margin: 1rem 0;
}

.menu__label {
  flex-shrink: 0;
}

.menu__input {
  background: #333;
  margin-left: 1rem;
  padding: 1rem;
  width: 100%;
}

.menu__button {
  background-color: #444;
  border-radius: .2rem;
  flex-grow: 1;
  padding: 1rem;
}

.menu__button--delete {
  background: #a22;
  margin-left: 1rem;
}
