.top-nav {
  background: linear-gradient(to right, purple, cyan);
  display: flex;
  flex-shrink: 0;
  list-style: none;
  padding: 0 .2rem;
}

.top-nav__item {
  background-color: rgba(71, 72, 68, .9);
  border: 0;
  border-radius: .2rem .2rem 0 0;
  flex-grow: 1;
  line-height: 3rem;
  margin: .4rem .2rem 0;
  text-align: center;
  user-select: none;
}

.top-nav__item--active {
  background-color: #272822;
}

.top-nav__item--menu {
  flex: 0 0 3rem;
  padding: 0 1rem;
}
